
<!DOCTYPE html>
<html lang="en">
<head>
	<title>로그인</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">

			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" action="/login" method="POST" role="form" enctype="application/x-www-form-urlencoded">
                  					
                    <span class="login100-form-title p-b-70">
						Welcome
					</span>
					<span class="login100-form-avatar">
						<img src="images/man.png" alt="AVATAR">
					</span>
                  
					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="E-mail"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    
                    <% if(locals.invalidPassword){ %>
						<div class="alert alert-danger"><%= invalidPassword %></div>
					<% } else if(locals.unRegisterUser) { %>
						<div class="alert alert-danger"><%= unRegisterUser %></div>
					<% } else if(locals.noInput) { %>
						<div class="alert alert-danger"><%= noInput %></div>
					<% } %>
					<!-- index.js 에서 넘어오는 파라미터값(js에서 로직수행을 한 결과메시지 값)을 받아 비번틀림 및 미가입유저 경고창 호출-->

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							로그인
						</button>
                    </div>
                </form>
              
                <div class="container-login100-form-btn">                    
                    <!--가입용 모달창 호출-->
                    <button type="submit" class="login100-form-btn"  data-toggle="modal" data-target="#ModalLoginForm">
                        회원 가입
                    </button>
                </div>

            </div>          
		</div>
	</div>
    
    <!-- 모달 다이얼로그 -->
	<div id="ModalLoginForm" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1 class="text-center">회원 가입</h1>
    
                        <form role="form" method="POST" action="/register" enctype="multipart/form-data" >
                            <div class="form-group">
                                <label class="control-label">ID</label>
                                <div>
                                    <input type="text" class="form-control input100" name="userId" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">E-Mail Address</label>
                                <div>
                                    <input type="email" class="form-control input100" name="email" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <div>
                                    <input type="password" class="form-control input100" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Profile Image</label>
                                <div>
                                    <div class="file_input_div">
                                        <input type="text" id="fileName" placeholder="Click and Select Image File" class="file_input_textbox form-control" readonly >
                                        <input type="file" name="file" class="file_input_hidden" onchange="javascript: document.getElementById('fileName').value = this.value"/>
                                    </div>													
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-success">확인</button>	
                                </div>
                            </div>
                        </form>						
    
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="js/main.js"></script>
<!--===============================================================================================-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>