<!DOCTYPE html>
<html>
   
<head>
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
</head>

<body>

    <input id="text-roomId" placeholder="룸아이디">
    <button id="open">Open Room</button>
    <button id="join">Join Room</button>
    <button id="openOrJoin">Open Or Join Room</button>
    <!--
    <div id ="video-contaioner">
    </div>
    -->

    <script>
        var connection = new RTCMultiConnection();
        connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/'; // Free Socket.io Seerver connection
        connection.session = {
            audio: true,
            video: true
        };

        connection.optionalArgument = {};
        connection.processSdp = function(sdp) {
            return sdp; // return unchanged SDP
        };

        connection.sdpConstraints.mandatory = {
            OfferToReceiveAudio: true,
            OfferToReceiveVideo: true
        };

        //var localVideoContainer = document.getElementById('video-contaioner');
        connection.onstream = function(event) {
            document.body.appendChild( event.mediaElement );
            /*
            var video = event.mediaElment;
            if(event.type === 'local'){
                localVideoContainer.body.appendChild(video);
            }
            if(event.type === 'remote'){
                remoteVideoContainer.body.appendChild(video);
            }
            */
        };

        var roomName = document.getElementById('text-roomId'); // 입력창으로 부터 받아오는 방이름 
        
        document.getElementById('openOrJoin').onclick = function() {
            this.disabled = true;
            connection.openOrJoin( roomName.value ); // .value == 실제값
        };

        document.getElementById('open').onclick = function() {
            this.disabled = true;
            connection.open( roomName.value );
        };

        
        document.getElementById('join').onclick = function() {
            this.disabled = true;
            connection.join( roomName.value );
        };
        
    </script>

</body>

</html>