body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.white-text{
  margin-top: 15px;
  margin-right: 10px;
  color: #fff;
}

.go-home{
  float: right;
}

.margin-left{
  margin-left: 30px
}

.margin-profile{
  margin-left: 20px;
}

.margin-profile-right{
  margin-right: 10px;
}

.img-center{
  display: block; margin: 0px auto; 
}

.margin-top{
  margin-top: 40px;
}

.thumbnail{
  background-color:gray;
  margin:10px;
  width:150px;
  height:150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.thumbnail.round{
  border-radius: 10%;
}
.thumbnail.circle{
  border-radius: 100%;
}
.thumbnail.circle.mini{
  width:50px;
  height:50px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner img {
  width: 100%;
  max-height: 500px
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

/* Upload Form */
.file_input_textbox {
  float:left; 
  width: 300px;
  height:50px;
}
.file_input_div {
  position:relative; 
  width:100%; 
  height:50px; 
  overflow:hidden;
}
.file_input_hidden {
  font-size:29px; 
  position:absolute; 
  right:0px; 
  top:0px; 
  opacity:0; 
  filter: alpha(opacity=0); 
  -ms-filter: alpha(opacity=0); 
  cursor:pointer;
}

.table td.text_reduction {
  max-width: 177px;
}

.table td.text_reduction span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.btn{  
  text-decoration: none;
  font-size:2rem;
  color:white;
  padding:10px 20px 10px 20px;
  display:inline-block;
  border-radius: 10px;
  transition:all 0.1s; 
}
.btn:active{
  transform: translateY(3px);
}
.btn.blue{
  background-color: #1f75d9;
  border-bottom:5px solid #165195;
}
.btn.blue:active{
  border-bottom:2px solid #165195;
}
.btn.red{
  background-color: #ff521e;
  border-bottom:5px solid #c1370e;
}
.btn.red:active{
  border-bottom:2px solid #c1370e;
}

.btn.green{
  background-color: #00cf23ab;
  border-bottom:5px solid #046b15ab;
}
.btn.green:active{
  border-bottom:2px solid #046b15ab;
}

.btn.yellow{
  background-color: #f5e504ec;
  border-bottom:5px solid #dbc609d3;
}
.btn.yellow:active{
  border-bottom:2px solid #dbc609d3;
}